@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ag-theme-alpine {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    right: 0;
    bottom: 1px;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px
}

#addCustomer,
#addCollection,
#addCashPayment,
#applybtn {
    background-color: #2595FF;
    width: 121px;
    border: 5px;
    height: 32px;
    border-radius: 2px;
    color: white;
    float: right;
    margin: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.printbtn {
    background-color: #F9FAFA;
    height: 32px;
    width: 80px;
    border-radius: 3px;
    color: black;
    float: right;
    margin: 8px;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;

}

.printbtn:before {
    padding: 2px;
    content: "\f02f";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.exportbtn {
    background-color: #F9FAFA;
    height: 32px;
    width: 91px;
    border-radius: 3px;
    color: black;
    float: right;
    margin: 8px;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;

}

.exportbtn:before {
    color: green;
    padding: 3px;
    content: "\f1c3";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.sub-header {
    padding-bottom: 10px;
}

.grid-box {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    align-items: center;

    /* Basic / Black */

    color: #000000;


    /* Inside auto layout */

    order: 0;
}

.billingTabs {
    width: 1376px;
    height: 56px;
    left: 17px;
    top: 199px;

    /* Basic / White */

    background: #FFFFFF;
}

.innerTab {
    /* Office 1 */


    /* width: 176px; */
    height: 40px;

    /* Semibold / 14 | 20 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #2595FF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.avg-rate {
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 198px;
    padding: 4px 8px 4px 6px;
    border: 1px solid #dbdbdb;
}

.calc-button {
    align-items: left;
    width: 250px;
    height: 48px;
    left: 1000px;
    top: 165px;
    /* Blue Ocean / Primary 500 */
    background: #2595FF;
    border-radius: 2px;
}

.invoiceCard {
    width: 864px;
    height: 330px;
    left: 230px;
    background: #F9FAFA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    align-items: center;
    bottom: 70px;
}
#card
{
    background-color: rgb(255 255 255);
    border-bottom: 1px solid rgb(255 255 255);
}

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#pagetitle {
    position: absolute;
    width: 1440px;
    height: 84px;
    left: 5px;
    top: 69px;

    background: #F9FAFA;
}

.card-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-right: 570px;
    margin-top: 10px;
    background-color:rgb(255 255 255);;
    color: #495055;
    
}

.h3,
h3 {
    padding: 30px;
}

#Box {
    position: absolute;
    width: 1390px;
    height: 635px;
    left: 17px;
    top: 200px;
    padding: 13px 13px 20px 13px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    display: inline;
}

#amtbox
{
    position: relative;
    padding: 27px 66px;
    display: inline-flex;
    grid-gap: 200px;
 
}

#lspace
{
    position: relative;
    padding: 0px 83px;
    margin-top: -1px;
    margin-bottom: -23px;
}


.list-group-item {
    margin-bottom: -2px;
}
.contact {
    position: absolute;
    width: 680px;
    height: 261px;
    left: 24px;
    top: 100px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.collectionStatus {

    position: absolute;
    width: 680px;
    height: 261px;
    left: 737px;
    top: 100px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.latexCollection {
    position: absolute;
    width: 1390px;
    height: 547px;
    left: 27px;
    top: 400px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cashPayment {
    position: absolute;
    width: 1390px;
    height: 569px;
    left: 27px;
    top: 993px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#titletext {
    width: 264px;
    height: 32px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    color: #333333;
    padding: 30px 20px 30px;
}

#contacttitle {
    width: 75px;
    height: 32px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    color: #333333;
    padding: 30px 20px 30px;
}

#collectiontitle {
    width: 196px;
    height: 32px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    color: #333333;
    padding: 30px 20px 30px;
}
.export{
    background-color: #F9FAFA;
    height: 32px;
    width: 91px;
    border-radius: 3px;
    color: black;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;
}
.export:before {
    color: green;
    padding: 3px;
    content: "\f1c3";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.invoice{
    background-color: #F9FAFA;
    height: 32px;
    width: 175px;
    border-radius: 3px;
    color: black;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 10px;
}
.generateInvoice{
    background-color: #2595FF;
    width: 140px;
    border: 5px;
    height: 32px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;
}
.invoice:before{
    padding: 3px;
    content: "\f0ed";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#billFromDate
{
    padding: 4px 16px 4px 21px;
    font-size: 18px;
}

#billToDate
{
    padding: 4px 16px 4px 21px;
    font-size: 18px;

}
.gridstyle
{
    margin-bottom: -22px ;
}

#lbtns
{
    margin-right: 25px;
}
.list-group-item{
    margin-left: 105px;
}
#active{
    color: green;
}
#inactive{
    color: red;
}