@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ag-theme-alpine {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    right: 0;
    bottom: 1px;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px
}

#addCustomer, #addCollection, #addCashPayment ,#applybtn{
    background-color: #2595FF;
    width: 121px;
    border: 5px;
    height: 32px;
    border-radius: 2px;
    color: white;
    float: right;
    margin: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.printbtn {
    background-color: #F9FAFA;
    height: 32px;
    width: 80px;
    border-radius: 3px;
    color: black;
    float: right;
    margin: 8px;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;

}

.printbtn:before {
    padding: 2px;
    content: "\f02f";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.exportbtn {
    background-color: #F9FAFA;
    height: 32px;
    width: 91px;
    border-radius: 3px;
    color: black;
    float: right;
    margin: 8px;
    border: 1px solid #DBDEDF;
    border-radius: 2px;
    font-weight: 500;

}

.exportbtn:before {
    color: green;
    padding: 3px;
    content: "\f1c3";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.sub-header {
    padding-bottom: 10px;
}

.grid-box {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    align-items: center;

    /* Basic / Black */

    color: #000000;


    /* Inside auto layout */

    order: 0;
}

.billingTabs {
    width: 1403px;
    height: 56px;
    left: 17px;
    top: 199px;

    /* Basic / White */

    background: #FFFFFF;
}

.innerTab {
    /* Office 1 */


    /* width: 176px; */
    height: 40px;

    /* Semibold / 14 | 20 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: #2595FF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.avg-rate {
    padding: 11px 11px 9px;
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    width: 100px;
    padding: 11px 11px 9px;
    border: 1px solid #dbdbdb;
}

.calc-button {
    align-items: left;
    width: 250px;
    height: 48px;
    left: 1000px;
    top: 165px;
    /* Blue Ocean / Primary 500 */
    background: #2595FF;
    border-radius: 2px;
}

.invoiceCard {
    width: 864px;
    height: 378px;
    left: 0px;
    top: 0px;

    background: #F9FAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

;

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}